.admin-main {
    .bac-admin-blue {
        background: $blue;
    }
    .br-admin-nav {
        border-bottom: 1px solid $grey-var12;
    }
    .left-sidebar-nav-admin {
        padding: rem(10);
        .admin-logo {
            width: 85%;
        }
    }
    .right-sidebar-nav-admin {
        padding: rem(10);
        h3 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(15);
            font-weight: 400;
            color: $blue; 
            position: relative;
            top: rem(5);
            padding: 0 rem(15);
            span {
                float: right;
                img {
                    margin-left: rem(5);
                }
            }
        }
    }
.panel-admin {
    .nav-tabs {
        border-bottom: none;
        padding: rem(20) 0;
        .nav-item {
            margin-bottom: 0;
            width: 90%;
        }
        .nav-link {
            color: $white;
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(12);
            font-weight: 500;
            border-top-left-radius: 0;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $white;
        background-color: $blue-varient2;
        border-color: $blue-varient2;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: transparent;
    }
    .tab-content {
        background: $grey-var2;
        padding: rem(20) rem(25);
        min-height: rem(580);
        .tab-pane {
            background: $white;
            border-radius: rem(10);
            padding: rem(20) rem(30);
            box-shadow: 0 0 20px 0 rgba(137, 201, 255, 0.08);
            .panel-inner {
                h4 {
                    font-family: 'Libre Franklin', sans-serif;
                    font-size: rem(16);
                    font-weight: 500;
                    color: $blue; 
                    border-bottom: 1px solid $grey-var7;
                    padding: 0px 0 25px 0;
                    span {
                        float: right;
                        color: $white;
                    }
                    .img-bk-admin {
                        width: rem(30);
                        border:1px solid $blue;
                        border-radius: 50%;
                        margin: 0 rem(15) 0 0;
                    }
                }
                .table thead th {
                    border-bottom: 1px solid $grey-var7;
                    border-top: none;
                    font-family: 'Libre Franklin', sans-serif;
                    color: $blue; 
                    font-size: rem(15);
                    padding: rem(18) 0;
                }
                .table {
                    tbody {
                        td {
                            font-family: 'Libre Franklin', sans-serif;
                            font-size: rem(15);
                            font-weight: 400;
                            color: $blue;   
                            padding: rem(18) 0;
                        }
                        .no-border {
                            border: none !important;
                        }
                    }
                }
                .btn {
                     padding: rem(6) rem(25);
                     margin: 0;
                }

                // switch
                .toggle-span {

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 0px 20px;
    border-radius: 18px;
    cursor: pointer;
    box-sizing: content-box;
    bottom: rem(5);
}
label {
    font-weight: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;

    line-height: normal;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: inherit;
}

.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: $grey-var14;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: $grey-var14;
    text-align: left;
    padding-left: 80px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: $white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    position: absolute;
  
}

.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
}


.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}


.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: $blue !important;
    left: -100px!important;
    opacity: 1;
    width: 100%!important;
 
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
    color: $white;
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, $white 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, $white 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}



                }

            }
            .panel-inner-legal {
                table {
tbody {
    td {
position: relative;
top: rem(10);
    }
}
                }
            }
        }
    }
}
.bac-admin-lft {
    min-height: rem(580);
}
}
.create-grp-modal {
    .modal-body {
        padding: rem(0) rem(50);
        h5 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(16);
            font-weight: 600;
            color: $blue-varient1; 
            letter-spacing: rem(2.3);
            padding-bottom: rem(15);
        }
        .btn {
            padding: rem(6) rem(30);
            margin: rem(20) 0;
        }
    }
.form-control {
    margin-bottom: rem(20);
}

}
.admin-log-mdl {
    .modal-dialog {
        width: 17%;
    } 
    .modal-content::after {
        left: 73%;
    }

}

.trash-img {
    cursor: pointer;
}
.delete-admin-modal {
    .modal {
        img {
padding: rem(20) 0;
        }
        h5 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(16);
            font-weight: 600;
            color: $blue; 
            padding: 0 0 rem(20) 0;
        }
        .btn {
padding: rem(10) rem(25);
margin:rem(10) rem(10) rem(10) rem(0);
font-size: rem(14);
        }
        .btn-cancel {
            color: $grey-var4;
        }
    }
}

.chosen-container {
    width: 100% !important;

}