.home-section {
    .dwn-arrow {
        cursor: pointer;
    }
    .nav-main-scn {
        border-bottom: 1px solid $grey-var7;
        padding: rem(5);
    }
    .nav-scn {
        padding: rem(10) rem(10) 0;
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: rem(20);
            font-weight: 300;
            color: $black-var;
            padding: rem(12) rem(0);
        }
        h3:before {
            width: rem(1);
            height: rem(60);
            background-color: $black-var;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top:0;
            opacity: .4;
        }
        .logo-nav {
            padding: rem(10) 0;
        }
        .right-prf {
            text-align: right;
            .profile-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: rem(10);
                position: relative;
                top: rem(3);
            }
            h6 {
                margin-bottom: rem(10);
                a {
                    font-family: 'Libre Franklin', sans-serif;
                    font-weight: 400;
                    color: $blue; 
                    position: relative;
                    top: 10px;
                }
            }
        }
    }

    .home-mn-scn {
        padding: rem(30);
        .scn-home-top {
            padding: rem(20) 0 rem(50);
   h2 {
    font-size: rem(26);
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: $blue;
    padding: 0 0 0 rem(15);
  
   }
   h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(16);
    font-weight: 400;
    color: $blue;
   }
   h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(16);
    font-weight: 300;
    color: $blue;
    text-align: right;
span {
    color: $grey-var3;
}
   }
        }
.scn-home-middle {
    h2 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(16);
        font-weight: 600;
        color: $blue;
        letter-spacing: rem(1);
        text-transform: uppercase;
        padding: rem(0) rem(10);
        letter-spacing: rem(2.5);
    }
    h2::after {
        width: rem(60);
    height: rem(2);
    background-color: $blue-varient1;
    content: "";
    display: block;
    position: relative;
    top: rem(10);
    margin: 0;
    }
    p {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        color: $blue;
        width: 40%;
        line-height: rem(25);
        padding: rem(15) rem(10);
    }
    .home-bar {
        background: $white;
        border-radius: rem(5);
        box-shadow: 0 12px 24px 0 rgba(43, 96, 124, 0.18);
        padding: rem(15) rem(10) rem(5) rem(25);
        margin-bottom: rem(20);
        cursor: pointer;
        h3 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(14);
            font-weight: 600;
            color: $blue;
            padding: rem(10) 0 rem(10) 0;
        }
        h4 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(12);
            font-weight: 400;
            color: $grey-var11;
            line-height: rem(18);
            padding: rem(0) 0;
        }
        h5 {
            padding: rem(10) 0;
            a {
                color: $blue-varient1;
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(15);
                font-weight: 600;
                span {
                    margin-left: rem(5);
                    img {
                       position: relative;
                       bottom: rem(1);
                    }
                }
            }
            a:hover {
                text-decoration: none;
            }

        }
    }
    .sec-ch {
        margin-top: rem(40);
    }
}

.scn-home-last {
    h1 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(16);
        font-weight: 600;
        color: $blue;
        letter-spacing: rem(1);
        text-transform: uppercase;
        padding: rem(80) rem(20) rem(20);
        letter-spacing: rem(2.5);
    }
    h1::after {
        width: rem(60);
    height: rem(2);
    background-color: $blue-varient1;
    content: "";
    display: block;
    position: relative;
    top: rem(10);
    margin: 0;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: rem(12);
        font-weight: 600;
        color: $blue;
        text-align: center;
        letter-spacing: rem(2);
        position: relative;
        background: $white;
        border: 1px solid $grey-var5;
        padding: rem(20) rem(50);
        border-radius: rem(58);
        margin: rem(50) 0 rem(30);
        .bus-spn {
            font-size: rem(16);
            font-weight: 800;
        }
    }

    h2::before {
        width: rem(100);
        height: 0.0625rem;
        background-color: $grey-var5;
        content: "";
        display: block;
        position: absolute;
        margin: 0;
        top: rem(35);
        left: rem(-100);
    }
    h2::after {
        width: rem(100);
        height: 0.0625rem;
        background-color: $grey-var5;
        content: "";
        display: block;
        position: absolute;
        margin: 0;
        top: rem(35);
        right: rem(-100);
    }
    h3 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(20);
        font-weight: 100;
        color: $blue;
        text-align: center;
        padding-bottom: rem(40);
    }
    .gradient-scn {
        margin-bottom: rem(80) !important;
        h4 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(12);
            font-weight: 400;
            color: $white;
            margin: 0;
            text-align: center;
            line-height: rem(20);
        }
        .grd-pad {
         padding: rem(20) 0;
         border-radius: rem(58);
        //  box-shadow: 0 5px 15px 0 rgba(43, 96, 124, 0.3);
        //  background-image: linear-gradient(to right, #9043fc, #4d00b9);
        box-shadow: 0 5px 15px 0 rgba(43, 96, 124, 0.3);
        background-color: $blue-var3;
        }
        .grd-divide {

        }
        .hvr-shrink {
            cursor: pointer;
        }
        .hvr-wobble-horizontal {
            cursor: pointer;
            animation-delay: .1s;
        }
        .rgt-arrow {
            width: rem(18);
        }
        .info-img {
            width: rem(20);
        }
    }
}

    }

}

.profile-modal-mn {
.modal-dialog {
    position: absolute;
    right: rem(20);
    top:rem(60);
}
    .modal-content {
        border: none;
        .mdl-img {
            margin: 0 rem(10) 0 0;
        }
        p {
            a {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                font-weight: 400;
                color: $blue;
                text-decoration: none;
            }

        }
    }

    .modal-content::after {
        content: '';
        position: absolute;
        left: 60%;
        top: -15px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        clear: both;
    }
    .modal-body {
        padding: 1rem 1rem 0;
    }
}