.interface-main {
    padding: 0 rem(35);
    .br-rgt-nw {
        border-right: 1px solid $grey-var7;
    }
    .top-interface {
        background: $white;
        box-shadow: 0 3px 10px 0 rgba(43, 96, 124, 0.05);
        border-radius: rem(3);
        padding: rem(5);
        margin: rem(20) 0;
        h4 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(15);
            font-weight: 400;
            color: $grey-var11;
            padding: rem(5) 0;
        }
.inter-dwn-arw {
    margin: 0 0 0 rem(10);
    cursor: pointer;
}
.form-control {
    border-radius: rem(30);
}
.srch-btn {
    position: absolute;
    right: rem(40);
    border-radius: rem(30);
    border: none;
    background: $blue-varient1;
    padding: rem(6) rem(24) rem(7);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    img {
        width:rem(18);
    }
}
.srch-btn:focus {
    outline: none;
}
.top-int-left {
    padding: rem(10);
}
.top-int-right {
    padding: rem(10) 0 0 rem(20);
}
.srch-row {
    position: relative;
    top:rem(5);
}
    }
    .interface-scn {
    
        table {
            font-family: 'Libre Franklin', sans-serif;
    border-collapse: separate;
    border-spacing: 0 rem(10);
    border-top: 1px solid $grey-var7;
            td {
                border: none;
            }
            th {
                border: none;
            }
            thead {
                th {
                    border: none;
                    color: $blue;
                    font-size: rem(12);
                    font-weight: 600;
                }
      
            }
            tbody {
                tr {
                    background: $white;
                    border: 1px solid $grey-var7;
                    border-radius: rem(3);
                    padding: rem(5);
                    margin-bottom: rem(5);   
                    box-shadow: 0 3px 10px 0 rgba(43, 96, 124, 0.05);
                }
                h3 {
                    color: $blue;
                    font-size: rem(14);
                    font-weight: 500;
                }
                h4 {
                    color: $blue;
                    font-size: rem(14);
                    font-weight: 400;
                    padding: rem(8) 0 0 0;
                }
                h5 {
                    color: $grey-var11;
                    font-size: rem(14);
                    font-weight: 400;
                }
            }
        }
    }
}
.legal-interface {
    .top-interface {
        .srch-btn {
            position: absolute;
            right: rem(0);
            border-radius: rem(30);
            border: none;
            background: $blue-varient1;
            padding: rem(6) rem(16) rem(7);
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            img {
                width:rem(18);
            }
        }
        .top-int-right {
            padding: 0;
        }
        .top-int-left {
            padding: rem(5) rem(10) 0 0;
        }
        .srch-rw-hub {
            position: relative;
            top:rem(5);
        }
        .srch-rw-hub-1 {
            position: relative;
            top:rem(10);
        }
    }
    .go_to-img {
        width: rem(31);
        cursor: pointer;
    }
}
.filter-modal-mn {
    .modal {
        top: 22%;
        left: 8%;
        .modal-dialog {
            max-width: 50%;
        }
        .modal-content {
            h4 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(15);
                font-weight: 400;
                color: $blue-varient1;
                padding: rem(10) 0;
            }
            .chiller_cb {
                margin-bottom: rem(10);
            }
            .br-rgt-nw {
                border-right: 1px solid $grey-var7;
            }
        }
        .modal-content::after {
            content: '';
            position: absolute;
            left: 48%;
            top: -15px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #fff;
            clear: both;

        }
    }

}

.prof-mdl-channel {
    .modal-dialog {
        .modal-content {
            .prof-inter-mn {
                margin: rem(20) 0;
                img {
        width: rem(70);
        height: rem(70);
                }
                h4 {
                    font-weight: 100;
                    font-family: 'Libre Franklin', sans-serif;
                    font-size: rem(24);
                    color: $blue;
                    padding: rem(10) 0 0 0;
                }
                h5 {
                    font-weight: 400;
                    font-family: 'Libre Franklin', sans-serif;
                    font-size: rem(15);
                    color: $blue;
                }
            }
            h3 {
                letter-spacing: rem(2.5);
                font-weight: 600;
            }
            p {
                font-weight: 400;
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                color: $blue;
                padding: rem(0) 0 0 rem(15);
                span{
                    margin-right: rem(15);
                }
            }
        }
    }

}

.source-mdl-legal {
    .modal {
        top: 22%;
        left: auto;
        right: 9%;
        .modal-dialog {
            max-width: 100%;
        }
    }
}
.priority-mdl-legal {
    .modal {
        top: 22%;
        left: auto;
        right: 5%;
        .modal-dialog {
            max-width: 100%;
        }
        .modal-body {
            padding: rem(20) rem(40) rem(20) rem(30);
            .radio {
                line-height: rem(30);
            }
        }
    }
}
.legal-mdl-prof {
    .modal-dialog {
        .modal-content {
            .prof-inter-mn {
                h6 {
                    text-align: right;
                    font-weight: 600;
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                color: $blue-varient1;
                letter-spacing: rem(2);
                padding: rem(10) 0 0 0;
                img {
                    width: auto;
                    height: auto;
                    margin: 0 0 0 rem(10);
                    }
                }
         
            }
        }
    }
}