.login-section {
    .login-bac-img {
        background: url("../img/login/login-background.png");
       background-size: cover;
       height: rem(768);
       background-repeat: no-repeat;
       padding: rem(90) 0;
       width: 100%;
    }
    .warning-msg {
        h6 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(12);
            font-weight: 500;
            color: $orange;
            line-height: rem(25);
            border: 1px solid $orange;
            border-radius: rem(5);
            padding: rem(10);
            background: $orange-light;   
            text-align: left;
            margin: rem(50) 0 rem(-40) 0;
        }
    }
    .logo {
        width: 100%;
    }
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: rem(24);
        font-weight: 200;
        color: $white;
        padding: rem(0) 0;
    }
    h4::before {
        height: rem(60);
    width: rem(1);
    background-color: $white;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .3;
    }
    h1 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(24);
        font-weight: 400;
        color: $blue;
        padding: rem(100) 0 0 0;
    }
    h1::after {
        width: rem(60);
    height: rem(2);
    background-color: $blue-varient1;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    }
    h5 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(15);
        font-weight: 400;
        color: $blue;
        padding: rem(10) 0 0 0;
    }
    .form-group {
        padding: rem(100) 0;
    }
    .btn-blue {
        margin: 0 0 0 rem(15);
    }
    h6 {
        color: $grey;
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(15);
        font-weight: 400;
        // cursor: pointer;
        // text-align: center;
        span {
            text-transform: uppercase;
            color: $blue;
            font-weight: 600;
            margin: 0 0 0 rem(5);
            cursor: pointer;
        }
    }
    .gate-head {
     
            color: $white;
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(12);
            font-weight: 300;
            text-align: left;
            margin: 0;
            text-transform: uppercase;
    
    }
}

.verify-email {
    h2 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        color: $blue-varient1;
        padding: 0 0 rem(15) 0;
        letter-spacing: rem(2.5);
    }
h6 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(14);
    font-weight: 400;
    color: $grey-var6;
    padding: rem(10) 0 rem(15) 0;
    span {
        cursor: pointer;
    }

}

}

.comm-pref {
    .close {
        text-align: right;
        color: $grey-var6;
        font-size: rem(30);
        font-weight: 400;
        opacity: 1;
        padding: rem(5) rem(10);
    }
    .close:focus {
        outline: none;
    }
    .modal-body {
        .modal-inner {
            text-align: center;
            h2 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(18);
                font-weight: 400;
                color: $blue-varient1;
                padding: rem(15) 0 0;
                letter-spacing: rem(2.5);
            }
            h3 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                font-weight: 400;
                color: $grey-var6;
                padding: 0 rem(100) rem(15) rem(100);
                line-height: rem(25);
            }
            .chiller_cb {
                margin-bottom: rem(15);
                label {
                    color: $blue;
                font-family: 'Libre Franklin', sans-serif;
                    font-weight: 400;
                }
            }
            .btn-blue {
                margin: rem(10) 0 rem(20);
                
            }
        }
    }
}
.login_vrfy .error-form {
    margin: 0px 0 0px 0 !important;
      }