.profile-mn-scn {
    .home-mn-scn {
        .left-bar-profile {
            text-align: center;
            border: 1px solid $grey-var7;
            border-radius: rem(5);
            background: $white;
            box-shadow: 0 3px 10px 0 rgba(43, 96, 124, 0.05);
            .prof-mask  {
                width: 100%;
            }
            .prof-sel-scn {
                position: relative;
                bottom: rem(35);
                .prof-img {
                    width: rem(125);
                    height: rem(125);
                    object-fit: cover;
                    border-radius: 50%;
                }
                .prof-img-edit {
                    position: absolute;
                    bottom: 0;
                    width: rem(35);
                    margin: 0 0 0 rem(-26);
                    cursor: pointer;
                }

            }
            h4 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(20);
                font-weight: 400;
                color: $blue;             
                margin: rem(-15) 0 rem(5) 0;
            }
            h5 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                font-weight: 400;
                color: $blue;
                padding-bottom: rem(20);
            }
        }
        .bac-prf {
            background: $white;
            box-shadow: 0 3px 10px 0 rgba(43, 96, 124, 0.05);
            border-radius: rem(5);
            padding: rem(10) rem(10) rem(20);
            margin-bottom: rem(20);
        }
        .right-prf-bar {

            .edit {
                float: right;
                position: relative;
                bottom: rem(0);
                width: rem(35);
                cursor: pointer;
            }
            h2 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(18);
                font-weight: 400;
                color: $blue;
                padding: rem(10) 0 0 rem(15);
            }
            h2::after {
            width: rem(60);
            height: rem(2);
            background-color: $blue-varient1;
            content: "";
            display: block;
            position: relative;
            bottom: 0;
            margin: rem(5) 0 0 0;
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: rem(13);
                font-weight: 500;
                color: $blue-varient1;
                margin: rem(15) 0 rem(10) 0;
                letter-spacing: rem(2.5);
            }
            h4 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                font-weight: 400;
                color: $blue;
                line-height: rem(25);
            }
            .rgt-bar-sub {
                border-right: 1px solid $grey-var8;
            }
            h6 {
                cursor: pointer;
                .lock-img {
                  margin:0 rem(10) 0 0;  
                }
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(14);
                font-weight: 400;
                color: $blue;
                margin: rem(10) 0 0 rem(15);
                .arrow-img {
                    float: right;
                    padding-right: rem(15);
                }
            }
            .qn-bar {
                h3 {
                    font-family: 'Libre Franklin', sans-serif;
                    font-size: rem(14);
                    font-weight: 600;
                    color: $blue;
                    padding: 0 0 rem(10) rem(15);
                    line-height: rem(20);
                    letter-spacing: 0;
                }
            }
        }
        .right-prf-bar-mn {
            h2 {
                padding: rem(20) 0 0 rem(15);
            }
        }
    }


}

.qn-scn {
    .back-to-page {
        width: rem(40);
        margin: 0 rem(15) 0 0;
        height: rem(40);
        border-radius: 50%;
        border: 1px solid $blue;
    }
    h2 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(18);
        font-weight: 400;
        color: $blue;
        padding: rem(10) 0 rem(20) rem(0);
    }
    h2::after {
    width: rem(60);
    height: rem(2);
    background-color: $blue-varient1;
    content: "";
    display: block;
    position: relative;
    bottom: 0;
    margin: rem(5) 0 0 0;
    left: rem(55);
    }
}

.profile-form-modal {
    .modal-body {
        background: $white;
        padding: rem(20);
    }
    .modal-dialog {
        height: 100%;
        position: absolute;
        right: rem(0);
        top:rem(0);
        margin: 0 auto;
        .modal-content {
            height: 100%;
            border: none;
            border-radius: 0;
            .form-control {
                margin-bottom: rem(20);
            }
            .form-control:disabled, .form-control[readonly] {
                opacity: .5;
            }
            h2 {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(18);
                font-weight: 400;
                color: $blue;
                padding: rem(10) 0 0 rem(15);
            }
            h2::after {
            width: rem(60);
            height: rem(2);
            background-color: $blue-varient1;
            content: "";
            display: block;
            position: relative;
            bottom: 0;
            margin: rem(5) 0 0 0;
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: rem(13);
                font-weight: 500;
                color: $blue-varient1;
                margin: rem(15) 0 rem(10) 0;
                letter-spacing: rem(1);
                padding: rem(10) 0 0 rem(15);
            }
        
        }
    }
.alert-success {
    margin: rem(20) 0;
    border-radius: rem(30);
    text-align: center;
    }
}

.warning-msg {
    h6 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(14);
        font-weight: 500;
        color: $orange;
        line-height: rem(25);
        border: 1px solid $orange;
        border-radius: rem(5);
        padding: rem(10);
        margin: rem(40) 0;
        background: $orange-light;
        img {
            margin: 0 rem(2) 0 0;
        }
        
    }
}
.verify-eml-mdl {
    .modal-body {
        margin-bottom: rem(20);
    }
    .success-tck {
        margin-bottom: rem(30);
    }
    h4 {
        line-height: 0;
        padding: rem(10) 0;
        strong {
            text-decoration: underline;
        }
    }
}