.company-reg {
    h1 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(24);
        font-weight: 500;
        color: $blue;
        padding: rem(50) 0 0 rem(15);
        letter-spacing: rem(1);
        .user-det {
            float: right;
            color: $grey-var11;
            font-size: rem(12);
            position: relative;
            top:rem(13);
        }
    }
    h1::after {
        width: rem(60);
    height: rem(2);
    background-color: $blue-varient1;
    content: "";
    display: block;
    position: relative;
    top: rem(5);
    margin: 0;
    left: rem(58);
    }
    .back-to-page {
        width: rem(40);
    margin: 0 15px 0 0;
    border: 1px solid $blue;
    border-radius: 50%;
    }
    .company-logo {
        img {
            padding: rem(60) 0 0 rem(15);
        }
    }
    h3 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        color: $blue-varient1;
        padding: rem(40) 0 rem(15) rem(15);
        letter-spacing: rem(2.5);
    }
    .form-control {
        margin-bottom: rem(25);
    }
    .form-control:disabled, .form-control[readonly] {
        opacity: .6;
    }
    .scroll-form {
        height: rem(450);
        overflow-y: scroll;
        padding-right: rem(30);
    }
    .btn {
        font-size: rem(14);
        padding: .5rem 1.75rem;
        float: right;
        margin: rem(30) rem(10) rem(30);
    }
    h6 {
        padding: rem(10) 0 0 0;
        a {
            font-size: rem(15);
            color: $blue;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
.cta-reg-mn {
    h1:after {
        left: 0;
    }
}
.forgot-section {

    .right-prf {
        p {
            font-family: 'Libre Franklin', sans-serif;
            color: $grey-var6;
            font-size: rem(15);
            a {
                color: $blue; 
                font-weight: 600; 
            }
        }
    }
    .forgot-pass-scn {
        padding: rem(30) 0;
        text-align: center;
        h2 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(20);
            font-weight: 500;
            color: $blue;
            padding: rem(20) 0 rem(0);
            margin: 0;
        }
        h3 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(15);
            font-weight: 400;
            color: $grey;
            padding: rem(20) 0 rem(40);
            margin: 0;
        }
        h5 {
            a {
                font-family: 'Libre Franklin', sans-serif;
                font-size: rem(15);
                font-weight: 400;
                color: $blue;
                padding: rem(20) 0 rem(10);
                margin: 0;
                text-decoration: underline;
            }
        }
.btn {
    margin: rem(25) 0 rem(15);
}
.form-control:disabled, .form-control[readonly] {
    opacity: .5;
}
h6 {
    a {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(15);
        font-weight: 400;
        color: $blue; 
        text-decoration: underline;
    }
}
.forgt-pass-img {
    width: 100px;
}

    }
    .expire-scn {
        padding: rem(100) 0 rem(30) 0;
        h3 {
            color: $blue;
            padding: rem(20) 0 rem(10);
        }
    }
}
.success-modal {
    .close {
        span {
            float: right;
            padding: rem(5) rem(10) rem(10);
        }
    }
    .success-toast {
        text-align: center;
    }
    img {
        width: rem(65);
    }
    h4 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(16);
        font-weight: 500;
        color: $blue;
        padding: rem(15) 0 rem(10);
    }
}
.question-modal {
    h4 {
        font-weight: 400;
        line-height: rem(25);
    }
    .btn {
        padding: rem(7) rem(25);
        margin: rem(5) 0 rem(30) 0;
    }
}
.community-modal {
    h4 {
margin-top: rem(20);
    }
}
.qn-submit 
{
    float: right;
    .btn {
        padding: rem(6) rem(25);
        margin: rem(10) 0;
    }
}

.terms_condition-modal {
    .modal-dialog {
        max-width: 50%;
        .modal-body {
            padding: rem(0) rem(45) rem(20);
        }
        h3 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(16);
            font-weight: 600;
            color: $blue-varient1; 
            letter-spacing: rem(2.7);
            margin-bottom: rem(35);
        }
        p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: rem(14);
            font-weight: 400;
            color: $blue;
        }

    }
}
.comp-info-modal {
    p {
        font-family: 'Libre Franklin', sans-serif;
        font-size: rem(15);
        font-weight: 400;
        color: $blue; 
        padding: rem(20) 0 0 0;
    }
}