


@media (min-width: 576px) and (max-width: 790px) {
    .home-section {

        .nav-scn {
            padding: rem(5) 0;
            h3 {
                font-size: rem(14);
                padding: rem(6) rem(0);
            }
            .logo-nav {
                padding: rem(5) 0;
                width: 100%;
            }
    
        }
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .login-section {
        .logo {
            width: 100%;
            position: relative;
            bottom: rem(5);
        }
    }
    .home-section {
            .bac-grey {
                min-height: rem(556);
            }
        .nav-scn {
            h3 {
                font-size: rem(15);
                padding: 1rem 4rem;
            }
            h3:before {
                height: rem(35);
                left: rem(60);
                top:rem(7);
            }
            .logo-nav {
                // width: 100%;
            }
        }
    }

    .profile-form-modal {
        .modal-dialog {
            max-width: 760px;
        }
    }
    .btn {
        font-size: .8rem;
    }
    .verify-email {
        .bottom-fixed-h6 {
            position: fixed;
            bottom: rem(35);
        }
    }
}
@media (min-width: 991px) {
.reg-bac-img {
    position: fixed;
    width: 25%;
}
.profile-form-modal {
    .close {
        position: absolute;
        background: #fff;
        left: rem(-57);
        opacity: 1;
        padding: rem(10) rem(60) rem(15) rem(20);
        border-radius: rem(100);
        color: #919496;
        font-size: rem(30);
        font-weight: 400;
        z-index: -1;
    }
    .close:hover {
        opacity: 1 !important;
    }
    .close:focus {
        outline: none;
    }

 }
 .no-overflow {
    overflow: hidden;
}
}
@media (min-width: 1367px) {

    .form-control {
        height: calc(3rem + 2px);
        margin-bottom: rem(10);
        padding: .375rem 1rem;
    }
    .login-section {
        .logo {
         width: auto;
         position: relative;
         top: rem(15);
        }
        .login-bac-img {
            height: rem(1080);
        }
        h4 {
            font-size: rem(39);
            padding: rem(5) 0;
        }
        h4::before {
        bottom: rem(0);
        height: rem(70);
        left: -5%;
        }
        h1 {
            font-size: rem(28);
        }
        .form-group {
            padding: rem(230) 0 rem(150) 0;
        }
        h5 {
            font-size: rem(16);
        }
        h6 {
            font-size: rem(16);
        }
        .forgot-scn {
            padding: rem(30) 0 0 0;
        }

        .em-rgt {
            bottom: rem(45);
        }
        .gate-head {
            font-size: rem(17);
    }
    .pos-rel {
        .em-rgt {
            bottom: rem(25);
        }
    }
    }
    .company-reg {
        .scroll-form {
            height: rem(850);
        }
    }
    .btn {
        height: rem(45);
    }
// home
    .home-section {
        .nav-scn {
            h3:before {
                height: rem(40);
                top:rem(5);
            }
        }
.bac-grey {
    min-height: rem(1000);

}
.home-mn-scn {
    .scn-home-top {
        h2 {
            font-size: rem(28);
            letter-spacing: rem(2);
           }
           h4{
            font-size: rem(18);
           }
    }
    .scn-home-middle {
        h2 {
            font-size: rem(18); 
        }
        p {
            padding: rem(20) rem(10) rem(25);
        }
        .home-bar {
            padding: rem(15) rem(10) rem(5) rem(35);
            h3 {
                font-size: rem(20);
            }
        }
    }
  .scn-home-last
  {
    h1 {
        font-size: rem(16);
        padding: rem(80) rem(100) rem(20);
    }
      h2 {
        font-size: rem(17);
        margin: rem(70) 0 rem(40);
        .bus-spn {
            font-size: rem(24);
        }
      }
      h2::before {
        width: rem(145);
        left: rem(-145);
    }
    h2::after {
        width: rem(145);
        right: rem(-145);
    }
      h3 {
        font-size: rem(22);
      }


        .gradient-scn {
            h4 {
                font-size: rem(18);
            }
            .grd-pad {
             padding: rem(30) 0;
            }

            .rgt-arrow {
                width: rem(22);
            }
            .info-img {
                width: rem(22);
            }
        }
  }

}
    }

    .forgot-section {
        padding: rem(20) 0;
        .right-prf {
            p {
                font-size: rem(15);
            }
        }
        .forgot-pass-scn {
            padding: rem(140) 0;
            h2 {
                font-size: rem(24);
                padding: rem(30) 0 rem(0);
            }
            h3 {
                font-size: rem(16);
                // padding: rem(30) 0 rem(60);
            }
            h5 {
                a {
                    font-size: rem(15);
                    padding: rem(20) 0 rem(10);
                }
            }
    .btn {
        margin: rem(45) 0 rem(25);
    }
    .em-rgt {
        bottom: rem(40);
    }
    .form-control:disabled, .form-control[readonly] {
        // margin-bottom: rem(25);
    }
    .forgt-pass-img {
        width: auto;
    }
        }
    }

    .profile-form-modal {
        .modal-dialog {
            max-width: 900px;
        }
    }
    .profile-mn-scn {
        .home-mn-scn {
            .right-prf-bar {
                .qn-bar {
                    h3 {
                        font-size: rem(18);
                    }
                }
            }
        }
    }
    .qn-scn {
        h2 {
            font-size: rem(22);
        }
    }


    .interface-main {
  
        .top-interface {
    .srch-btn {
        padding: rem(11) rem(24) rem(12);
        img {
            width:rem(18);
        }
    }
    .top-int-left {
        padding: rem(10) rem(10) rem(0);
        position: relative;
        top:rem(5);
    }
    .top-int-right {
        padding: rem(0) 0 0 rem(20);
        position: relative;
        top:rem(12);
    }
        }

    }

    .legal-interface {
        .top-interface {
    .top-int-right {
        padding: rem(0) 0 0 rem(0);
        position: relative;
        top:rem(0);
    }
    .srch-rw-hub {
        top:rem(10);
    }
    .srch-rw-hub-1 {
        top:rem(25);
    }
        }

    }

    // admin
    .admin-main {
        .bac-admin-lft {
            min-height: rem(1020);
            margin: rem(-2) 0 0 0;
        }
        .panel-admin {
            .nav-tabs .nav-link {
                font-size: rem(16);
            }
            .tab-content {
                min-height: rem(1020);
                .tab-pane {
                    padding: rem(30) rem(30) rem(20);
                    .panel-inner {
                        .btn {
                            padding: rem(10) rem(25) rem(0);
                            position: relative;
                            bottom: rem(10);
                       }
                    }
                }

                    }
                }
            }

}

@media (max-width: 767px) {  
    .login-section {
        .logo {
            width: auto;
        }
    }    
}
@media (min-width: 770px) and (max-width: 991px) {
    .login-section {
        .logo {
            width: auto;
        }
        h4::before {
            display: none;
                    }
                }
                .text-tab-center {
                    text-align: center;
                }
    }

    @media (min-width: 830px) and (max-width: 1080px) {
        .login-section .gate-head {
            text-align: center;
        }
    }
    /*tablet-landscape*/
@media (min-width: 769px) and (max-width: 1024px) {
    .company-reg {
        .reg-bac-img {
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    .home-section {
        .nav-scn {
            h3:before {
                height: rem(40);
                top:rem(4);
                left: rem(-7);
            }
        }
        .home-mn-scn {
            .scn-home-last {
   
                h2:before {
                    display: none;
                }
                h2:after {
                    display: none;
                }
            }
        }
    }
    .profile-form-modal {
        .modal-dialog {
            max-width: 80%;
        }
    }
    .login-section {
        h6 {
            text-align: left;
        }
    }
    .interface-main {
        padding: 0;
        .interface-scn {
            width: 100%;
            overflow-x: scroll;
        }
        .top-interface {
          .srch-btn {
              right: 0;
          }
        }
              }

}
/*tablet-potrait*/

@media (min-width: 481px) and (max-width: 769px) {
    .text-tab-center {
        text-align: center;
    }
    .no-overflow {
        overflow: auto;
    }
    .login-section {
        .login-bac-img {
          height: rem(500);
          padding: rem(200) 0;
        }
        h4::before {
display: none;
        }
        .logo {
            width: auto;
        }
        h1 {
            padding: rem(40) 0 0 0;
        }
        .form-group {
            padding: rem(50) 0 0 0;
        }
        .gate-head {
            text-align: center;
        }
        .verify-email {
            h6 {
                text-align: left;
            }
        }
        h6 {
            text-align: left;
        }
    }

    .company-reg {
        .scroll-form {
            height: auto;
            overflow-y: auto;
        }
        .reg-bac-img {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

.home-section {
    .nav-scn {
        h3 {
            padding: rem(8) 0 0 0;
        }
        h3:before {
            height: rem(35);
            top:rem(4);
            left: rem(0);
        }
        .right-prf {
            .profile-img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .home-mn-scn { 
        padding: rem(20) 0;;
        .scn-home-top {
            padding: rem(0) 0 rem(10);
   h2 {
    font-size: rem(18);
   }
   h4 {
    font-size: rem(14);
   }
   h5 {
    font-size: rem(14);
text-align: left;
   }
        }
        .scn-home-middle {
            p {
                width: 50%;
            }
        }
        .scn-home-last {
            h2 {
                padding: rem(30) rem(12);
                margin: rem(20) 0 rem(30);
            }
            h2:before {
                display: none;
            }
            h2:after {
                display: none;
            }
          .gradient-scn {
            .grd-divide {
                border-right: none;
            }
            .grd-pad {
                text-align: center;
                img {
                    margin: rem(10) auto rem(20);
                }
            }
          }
        }
    }
}

.interface-main {
    padding: 0;
    .interface-scn {
        width: 100%;
        overflow-x: scroll;
    }
    .top-interface {
      .srch-btn {
          right: 0;
      }
    }
          }
                  .admin-log-mdl .modal-dialog {
            width: 30%;
        }
}

/* Mobile and down */
@media (max-width: 480px) {
    .pad-mob-zero {
        padding: 0 !important;
    }
    .no-overflow {
        overflow: auto;
    }
    .text-small-center {
        text-align: center !important;
    }
    .login-section {
        .login-bac-img {
            height: 100%;
        }
        h4::before {
display: none;
        }
        .form-group {
            padding: rem(20) 0;
        }   
       h1 {
            padding: rem(25) 0 0 0;
            font-size: rem(18);
        } 
        h5 {
            text-align: center;
        }
        h6 {
            text-align: center;
        }
.logo {
    width: 100%;
}
.gate-head {
    text-align: center;
}
.warning-msg {
    h6 {
        margin: rem(18) 0 0 0;
    }
}
    }
.company-reg {
    h1 {
        font-size: rem(18);
        padding: rem(20) 0 0 rem(15);
    }
    h3 {
        padding: rem(20) 0 rem(20) rem(15);
    }
    .scroll-form {
        height: auto;
        overflow-y: auto;
    }
    .company-logo {
        img {
            padding: rem(30) 0 0 rem(15);
        }
    }
    .reg-bac-img {
        img {
            height: rem(60);
            width: 100%;
            object-fit: cover;
        }
    }
}
    


.home-section {

    .nav-scn {
        padding: rem(5) 0;
        h3 {
            font-size: rem(14);
            padding: rem(6) rem(0);
            display: none;
        }
        h3:before {
display: none;
        }
        .logo-nav {
            padding: rem(5) 0;
        }
        .right-prf {
            .profile-img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .home-mn-scn { 
        padding: rem(10) 0;;
        .scn-home-top {
            padding: rem(0) 0 rem(10);
   h2 {
    font-size: rem(18);
   }
   h4 {
    font-size: rem(14);
   }
   h5 {
    font-size: rem(14);
text-align: left;
   }
        }
        .scn-home-middle {
            p {
                width: 100%;
            }
            .col-sm-6 {
                padding: 0;
            }
        }
        .scn-home-last {
            h1 {
                padding: rem(20) rem(20) rem(20);
            }
            h2 {
                padding: rem(10) rem(12);
                margin: 0rem 0 rem(10);
            }
            h2:before {
                display: none;
            }
            h2:after {
                display: none;
            }
          .gradient-scn {
            .grd-divide {
                border-right: none;
              
            }
            .grd-pad {
                text-align: center;
                margin-bottom: rem(15) !important;
                img {
                    margin: rem(10) auto rem(20);
                }
            }
            .col-md-6 {
          padding: 0;
            }
          }
        }
    }
}

.profile-mn-scn 
{
    .home-mn-scn {
        .right-prf-bar {
            .rgt-bar-sub{
                border-right:none;
            }
          
            }
        }
    }
    .profile-form-modal {
        .modal {
            height: 100%;
            background: $white;
        }
    }
    .forgot-section {
        .forgot-pass-scn {
            .forgt-pass-img {
                width: rem(80);
            }
        }
    }
    .btn {
        margin: rem(20) 0;
    }
    .interface-main {
  padding: 0;
  .br-rgt-nw {
    border-right: none;
}
  .interface-scn {
      width: 100%;
      overflow-x: scroll;
  }
  .top-interface {
    .srch-btn {
        right: 0;
    }
  }
        }
        .legal-interface {
            .top-interface {
                .srch-rw-hub-1 {
                    padding: 0;
                    top: 0;
                }
                .top-int-right {
                    margin-top: rem(15);
                }
            }

        }
        .small-hidden {
            display: none;
        }
        .filter-modal-mn {
            .modal {
                .modal-dialog {
                    max-width: 100%;
                }
            }

        }

        .filter-modal-mn
        {
            .modal {
                top: 10%;
                left: auto;
                .modal-content {
                    .br-rgt-nw {
                        border-right: none;
                    }
                }
                .modal-content:after {
                  display: none;
                }
            }
        } 
// admin
        .admin-main {
            .bac-admin-lft {
                min-height: auto;
            }
            .panel-admin {
                .tab-content {
                    padding: 0;
                    min-height: auto;
                    .tab-pane {
                        .panel-inner {
                            .btn {
                                position: absolute;
                                right: rem(5);
                            }
                        }
                    }
                }
            }
        }
        .admin-log-mdl .modal-dialog {
            width: 70%;
        }
        .terms_condition-modal .modal-dialog {
            max-width: 100%;
        }
        .chiller_cb-terms {
            span {
                top:0;
            }
        }
        .cta-reg-mn {
            .btn {
                margin: rem(55) rem(10) rem(30);
            }
        }
}  
