
$black:#000;
$login-success-msg:#19282E;
$btn-dark:#343a40;
$btn-blue:#194077;
$white:#fff;
$form-br:#cdcdcd;
$det-inner-paragraph:#535353;
$det-inner:#efe7e7;
$red:#ff0000;
$red-1:#eb2626;
$orange:#ff8000;
$orange-light:#fff9f4;
$blue:#194077;
$blue-varient1:#51a4f5;
$blue-varient2:#4b7cc1;
$blue-var2:#380c76;
$blue-var3:#263b67;
$form-cnt:#ecf4fc;
$grey:#8392a6;
$grey-var:#888;
$grey-var1:#bcbdbe;
$grey-var2:#f2f6fa;
$grey-var3:#6a7e9b;
$grey-var4:#545454;
$grey-var5:#a8b4be;
$grey-var6:#919496;
$grey-var7:#dce5ed;
$grey-var8:#efefef;
$grey-var9:#919496;
$grey-var10:#eaeaea;
$grey-var11:#8392a6;
$grey-var12:#babfcc;
$grey-var13:#979eaf;
$grey-var14:#c8ccd5;
$black-var:#1b1e21;
$green:#109210;
