{% extends "registration_base_html.jinja2" %}
<!-- login-section -->

{% block content %}
<section class="company-reg">
  <div class="row no-margin">
    <div class="col-xl-3 col-lg-3 col-md-4 pad-zero">
      <div class="reg-bac-img">
        <img src="{{request.static_url('cambium_cta:static/img/registraion/reg-back.png')}}"
             class="img-responsive" alt="registraion background"/>
      </div>
    </div>
    {% if server_error %}
    <div id="login_error_div" class="offset-xl-2 offset-lg-2 col-xl-8"
         style="display: block;">
      <div class="warning-msg">
        <h6>Some error has occured.Please check whether you have entered
          all the fields correctly.</h6>
      </div>
    </div>
    {% endif %}
    <div class="col-xl-9 col-lg-9 col-md-8 pad-zero">
      <div class="row no-margin">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12">
          <div class="company-logo">
            <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}"
                 class="" alt="company logo"/>
          </div>
          <h1><span><a href="/registration/{{ token }}"><img
                  src="{{request.static_url('cambium_cta:static/img/home/back.png')}}"
                  class="back-to-page" alt="back"/></a></span>CTA Company
            Registration</h1>
          <div class="company-regn">
            <h3 data-toggle="modal" data-target="#comp-info">COMPANY
              INFORMATION </h3>
            <form class="form-group" action="/company_registration/{{token}}"
                  id="company_registration_form"
                  name="company_registration_form" method="post">
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Company Name*"
                         name="company_name" id="id_company_name"
                         class="form-control"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12">
                  <input type="number" placeholder="Company Contact Number*"
                         name="company_number" id="id_company_number"
                         class="form-control"
                         onkeydown="javascript: return event.keyCode == 69 ? false : true"/>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Company URL*"
                         name="company_website" id="id_company_website"
                         class="form-control"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="{{email}}
                    " class="form-control" disabled/>
                </div>
              </div>
              <h3>COMPANY PHYSICAL ADDRESS </h3>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Street Address 1*"
                         name="company_address1" id="id_company_address1"
                         maxlength="250"
                         class="form-control"/>
                  <input type="text" placeholder="Street Address 2"
                         name="company_address2" id="id_company_address2"
                         maxlength="250"
                         class="form-control"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Town/City*"
                         name="company_city" id="id_company_city"
                         class="form-control"/>
                  <input type="text" placeholder="Zip/Postal Code*"
                         name="company_zip" id="id_company_zip"
                         class="form-control"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <select class="form-control" id="id_company_state" name="company_state">
                    <option value="" selected disabled>State*</option>
                    {% for each in state_list %}
                      <option value={{each[0]}} > {{each[1]}}</option>
                    {% endfor %}
                  </select>

                  <select name="company_country" id="id_company_country"
                          class="form-control">
                     {% for each in country_list %}
                      <option value={{each[0]}}> {{each[1]}}</option>

                    {% endfor %}
                  </select>

                </div>
              </div>
              <div class="row no-margin">
                <div class="offset-xl-6 col-xl-6">
                  <button id="company_reg_btn" type="submit"
                          class="btn btn-blue">Submit
                  </button>
                  <button class="btn btn-cancel" type="reset" id="comp_cancel">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Modal -->
<div class="success-modal question-modal comp-info-modal">
  <div class="modal fade" id="comp-info" tabindex="-1" role="dialog"
       aria-labelledby="comp-info-emlTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
        <div class="modal-body">
          <div class="success-toast">
            <img src="{{request.static_url('cambium_cta:static/img/registraion/company-mdl.png')}}"
                 class="success-tck" alt="Success"/>
            <p>The Company details that you are trying to register doesn’t match
              with your email domain. Kindly select the existing company based
              on your email domain</p>
            <button class="btn btn-blue"><a href="/registration/{{ token }}">Go
              to User Registration</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var token = "{{ token }}"
  var company_exists = "{{ company_exists }}"

</script>
{% endblock content %}
{% block extra_scripts %}

<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/company_registration.js')}}"></script>
{% endblock extra_scripts %}

