{% extends "registration_base_html.jinja2" %}

{% block content %}
<!-- login-section -->
<section class="company-reg cta-reg-mn">
  <div class="row no-margin">
    <div class="col-xl-3 col-lg-3 col-md-4 pad-zero">
      <div class="reg-bac-img">
        <img src="{{request.static_url('cambium_cta:static/img/registraion/reg-back.png')}}"
             class="img-responsive" alt="registraion background"/>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-8 pad-zero">
      <div class="row no-margin">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12">
          <div class="company-logo">
            <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}"
                 class="" alt="company logo"/>
          </div>
          <h1>CTA Registration
            <span class="user-det small-hidden">USER DETAILS</span>
          </h1>
          <div class="company-regn">
            <h3>PERSONAL INFORMATION</h3>
            <form class="form-group" action="/registration/{{token}}"
                  id="registration_form"
                  name="registration_form" method="post">
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" id="id_first_name"
                         placeholder="First Name*"
                         class="form-control" name="firstname"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12">
                  <input type="text" id="id_last_name" placeholder="Last Name*"
                         class="form-control" name="lastname"/>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="number" placeholder="Contact Number"
                         id="id_contact_number"
                         class="form-control" name="contact_num"
                  onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" id="id_email"
                         class="form-control" name="bus_email_disabled"
                         placeholder="{{email}}" disabled/>
                  <input type="hidden" id="id_bus_email" name="bus_email"
                         value="{{email}}"/>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="password" placeholder="Password*"
                         id="id_pwd" class="form-control" minlength="8"
                         name="password"/>
                  <p class="error-msg" id="id_pwd_msg"
                     style="display:hidden"></p>
                </div>

                <div class="col-xl-6 col-md-6 col-lg-6 col-12">
                  <input type="password" id="id_cnfrm_pwd"
                         placeholder="Confirm Password*"
                         class="form-control" minlength="2"
                         name="confirm_pass"/>
                </div>
              </div>
              <h3>ADDRESS DETAILS </h3>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Street Address 1*"
                         id="id_address_1" class="form-control" maxlength="250" name="addr_1"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 "></div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Street Address 2"
                         id="id_address_2" class="form-control" maxlength="250" name="addr_2"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 "></div>
              </div>


              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Town/City*"
                         id="id_town" class="form-control" name="city"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <select class="form-control" id="id_state" name="state">
                    <option value="" selected disabled>State*</option>
                    {% for each in state_list %}
                      <option value={{each[0]}} > {{each[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <input type="text" placeholder="Zip/Postal Code*"
                         id="id_postal_code" class="form-control"
                         name="postal_code"/>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <select class="form-control" id="id_country" name="country">
                    <option value="" selected disabled>Country*</option>
                    {% for each in country_list %}
                      <option value={{each[0]}}> {{each[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <h3>COMPANY INFORMATION </h3>
              <div class="row no-margin">
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  {% if company_dict %}
                  <select class="form-control" id="id_company_mail"
                          name="company_name">
                    <option value="" disabled selected>Company*</option>
                    {% for key,value in company_dict.items()%}
                    <option value="{{ key }}"
                            {% if selected_company_id|int  == key|int  %}
                              selected
                            {% endif %}>{{ value }}
                    </option>
                    {% endfor%}
                  </select>
                  {% else %}
                  <select class="form-control" id="" name="company_name">
                    <option value="" disabled selected>Company*</option>
                  </select>

                  {% endif %}
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-12 ">
                  <h6><a href="/company_registration/{{ token }}"
                         id="id_reg_com">Register
                    your Company</a>
                  </h6>
                </div>
              </div>
              <h3>COMMUNICATION PREFERENCES</h3>
              <div class="row no-margin">
                <div class="col-xl-3 col-md-4 col-lg-4 col-4 ">
                  <div class="chiller_cb">
                    <input id="sms_checkbox" value="checked" type="checkbox"
                           name="sms_checkbox">
                    <label for="sms_checkbox">SMS</label>
                    <span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-lg-4 col-4 ">
                  <div class="chiller_cb">
                    <input id="email_checkbox" value="checked" type="checkbox"
                           name="email_checkbox">
                    <label for="email_checkbox">Email</label>
                    <span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-lg-4 col-4 ">
                  <div class="chiller_cb">
                    <input id="call_checkbox" value="checked" type="checkbox"
                           name="call_checkbox">
                    <label for="call_checkbox">Telephone</label>
                    <span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-lg-4 col-12">
                  <div class="chiller_cb">
                    <input id="postal_checkbox" value="checked" type="checkbox"
                           name="postal_checkbox">
                    <label for="postal_checkbox">Postal Mail</label>
                    <span></span>
                  </div>
                </div>
              </div>
              <h3>PRIVACY POLICY</h3>
              <div class="row no-margin">
                <div class="col-xl-12 col-md-12 col-lg-12 col-12 ">


                  <div class="chiller_cb chiller_cb-terms">
                    <input id="privacy_checkbox" value="checked" type="checkbox"
                           name="privacy_checkbox" required>
                    <label for="privacy_checkbox">I accept the </label>
                    <b class="b-ch-label"><strong class="text-deco-under"
                                                  data-toggle="modal"
                                                  data-target="#terms_condition">terms
                      & conditions</strong> of Cambium Networks.</b>
                    <span></span>
                    <p class="error-msg" id="id_privacy_msg"
                       style="display:hidden"></p>
                  </div>
                </div>
                <div class="col-xl-12 col-md-12 col-lg-12 col-12">

                  <button type="submit" class="btn btn-blue">Submit</button>
                  <a href="/" class="btn btn-cancel">Cancel</a>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- login-section -->
<!-- Modal -->
<div class="success-modal terms_condition-modal">
  <div class="modal fade" id="terms_condition" tabindex="-1" role="dialog"
       aria-labelledby="terms_conditionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close"
                aria-label="Close">
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
        <div class="modal-body">
          <h3 class="text-center">TERMS & CONDITIONS</h3>
          <p>Effective Date: May 25, 2018</p>
          <p><strong>Overview</strong></p>
          <p>Cambium Networks, Ltd. and our subsidiaries (collectively “Cambium
            Networks”) respect the privacy of individuals who provide us with
            their personal information, including our customers, resellers,
            distributors, service providers and visitors to our website, as well
            as information derived from applications, devices, software, tools
            and other services provided by us. This Privacy Policy (the
            “Policy”) explains how we collect, use and disclose personal
            information and other information of users, with respect to access
            to and use of:
          </p>
          <p> The web site or web pages located at www.cambiumnetworks.com/ or
            any other web site or web pages owned or operated by Cambium
            Networks, including our community forum located at
            http://community.cambiumnetworks.com/, our partner portals located
            at https://channel.cambiumnetworks.com/, and our support site
            located at http://support.cambiumnetworks.com (each a “Site” and
            collectively the “Sites”).
            Our network life cycle management services provided through our
            cnMaestro™ product at https://cloud.cambiumnetworks.com as well as
            our LinkPlanner™ and Wireless Manager™ network planning products;
            and
          </p>
          <p> Any other solutions or services provided by us or in connection
            with access to or through use of our products, network, devices,
            software or Sites (collectively, with our life cycle management and
            planning services, the “Services”).</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/cta_registration.js')}}"></script>
{% endblock extra_scripts %}
