{% extends "base_html.jinja2" %}

{% block content %}

<!-- login-section -->
<section class="home-section forgot-section">
  <div class="row no-margin">
    <div class="col-xl-12 col-md-12 nav-main-scn">
      <div class="nav-scn">
        <div class="row no-margin">
          <div class="col-xl-6 col-md-8 col-4 col-sm-8">
            <div class="row no-margin">
              <div class="col-xl-4 col-md-5 col-sm-6">
                <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}" class="" alt="logo"/>
              </div>

            </div>
          </div>
          <div class="col-xl-6 col-md-4 col-8 col-sm-4">
            <div class="right-prf">
              <!-- <p>Haven’t registered yet? <a href="">REGISTER</a></p> -->
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12">
      <div class="forgot-pass-scn expire-scn">
        <img src="{{request.static_url('cambium_cta:static/img/profile/expire.png')}}" class="forgt-pass-img" alt="logo"/>
        <h2>Email Verification Link Expired</h2>
        <h3>Your Email verification link has been expired. Kindly try again</h3>
        <div class="row no-margin">
          <div class="offset-md-2 offset-lg-3 offset-xl-4 col-xl-4 col-lg-6 col-md-8">
            <form class="form-group">
              <div class="row no-margin">
                <div class="offset-xl-3 col-xl-6">
                  <a href="/verify_email"><button type="button" class="btn btn-blue full-width">Register
                    Again
                  </button>
                  </a>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </div>
  </div>

</section>


{% endblock content %}