<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{request.static_url('cambium_cta:static/img/favicon.png')}}" type="image/jpg" sizes="32x32">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/screen.css')}}">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/hover-min.css')}}">
</head>
<body>
<!-- login-section -->
<section class="home-section forgot-section">
    <div class="row no-margin">
<div class="col-xl-12 col-md-12 nav-main-scn">
  <div class="nav-scn">
    <div class="row no-margin">
      <div class="col-xl-6 col-md-8 col-4 col-sm-8">
      <div class="row no-margin">
        <div class="col-xl-4 col-md-5 col-sm-6">
          <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}" class="" alt="logo" />
        </div>

      </div>
      </div>
      <div class="col-xl-6 col-md-4 col-8 col-sm-4">
        <div class="right-prf" >
          <p>Haven’t registered yet? <a href="">REGISTER</a></p>
            </div>

      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 col-md-12">
  <div class="forgot-pass-scn">
      <img src="{{request.static_url('cambium_cta:static/img/registraion/forgot-pass.png')}}" class="forgt-pass-img" alt="logo" />
      <h2>Forgot your password?</h2>
      <h3>Enter your registered email address below, we will send you an email link to reset your password.</h3>
<div class="row no-margin">
  <div class="offset-md-2 offset-lg-3 offset-xl-4 col-xl-4 col-lg-6 col-md-8">
      <form id="forgot_password_form" class="form-group" method='POST'>
          <input id="id_reset_email" name="reset_email" type="email" class="form-control" placeholder="Email Address" />
          <p> <img src="{{request.static_url('cambium_cta:static/img/login/email.png')}}" class="em-rgt" alt="email" /></p>
          <div id="reset_error_div" class="offset-xl-2 offset-lg-2 col-xl-8" style="display: none;">
                <div class="warning-msg">
                <h6>Please enter the emailid.</h6>
                </div>
          </div>
          <div id="reset_success_div" class="offset-xl-2 offset-lg-2 col-xl-8" style="display: none;">
                <div class="success-msg">
                <h6>If you are a registered user, you will receive a password reset link on your email address.</h6>
                </div>
          </div>
          <div class="row no-margin">
            <div class="offset-xl-3 col-xl-6">
                <button type="submit" class="btn btn-blue full-width">Request Reset Link</button>
            </div>
          </div>

          <h5><a href="/">Back to Login</a></h5>
            </form>
  </div>

</div>

    </div>

</div>
    </div>

</section>
<!-- login-section -->
<!-- Profile-Modal -->
<div class="profile-modal-mn">
        <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/img/home/profile.png')}}" class="mdl-img" alt="profile" />Profile</a></p>
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/img/home/settings.png')}}" class="mdl-img" alt="profile" />Communication Preference</a></p>
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/img/home/logout.png')}}" class="mdl-img" alt="profile" />Logout</a></p>
                </div>

              </div>
            </div>
          </div>
    </div>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/reset.js')}}"></script>
</body>
</html>
