{% extends "home_base.jinja2" %}


{% block content %}
<!-- login-section -->
<section class="home-section">
  <div class="row no-margin">
    <div class="col-xl-12 col-md-12 nav-main-scn">
      <div class="nav-scn">
        <div class="row no-margin">
          <div class="col-xl-6 col-md-8 col-8 col-sm-8">
            <div class="row no-margin">
              <div class="col-xl-3 col-md-5 col-sm-6">
                <a href="https://www.cambiumnetworks.com/">
                  <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}"
                       class="logo-nav" alt="logo"/>
                </a>
              </div>
              <div class="col-xl-9 col-md-7 col-sm-6">
                <h3>CTA Homepage</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-4 col-4 col-sm-4">
            <div class="right-prf">
              <img src="{{request.static_url('cambium_cta:static/img/home/prf.png')}}"
                   class="profile-img" alt="profile"/>
              <span>      <img
                      src="{{request.static_url('cambium_cta:static/img/home/down-arrow.png')}}"
                      class="dwn-arrow" alt="arrow" data-toggle="modal"
                      data-target="#profile-modal"/></span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 bac-grey bac-fade">
      <div class="home-mn-scn">
        <div class="scn-home-top">
          <h2>Hi, Andrews,</h2>
          <div class="row no-margin">
            <div class="col-xl-6 col-md-6">
              <h4>Welcome to Cambium Total Access</h4>
            </div>
            <div class="col-xl-6 col-md-6">
              <h5><span>Last Login:</span> 21-Aug-2018</h5>
            </div>

          </div>
        </div>

        <div class="scn-home-middle">
          <h2>END USER APPLICATIONS</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy </p>
          <div class="row no-margin">
            <div class="col-xl-3 col-md-6 col-sm-6">
              <div class="home-bar hvr-grow">
                <h3>Support</h3>
                <h4>Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. </h4>
                <h5><a href="">VISIT<span><img
                        src="{{request.static_url('cambium_cta:static/img/home/rgt-arrow.png')}}"/></span></a>
                </h5>
              </div>

            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
              <div class="home-bar hvr-grow">
                <h3>Learning Management System</h3>
                <h4>Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. </h4>
                <h5><a href="">VISIT<span><img
                        src="{{request.static_url('cambium_cta:static/img/home/rgt-arrow.png')}}"/></span></a>
                </h5>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
              <div class="home-bar hvr-grow">
                <h3>cnMaestro</h3>
                <h4>Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. </h4>
                <h5><a href="">VISIT<span><img
                        src="{{request.static_url('cambium_cta:static/img/home/rgt-arrow.png')}}"/></span></a>
                </h5>
              </div>

            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
              <div class="home-bar hvr-grow">
                <h3>Community</h3>
                <h4>Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. </h4>
                <h5><a href="">VISIT<span><img
                        src="{{request.static_url('cambium_cta:static/img/home/rgt-arrow.png')}}"/></span></a>
                </h5>
              </div>

            </div>
          </div>
        </div>
        <div class="scn-home-last">
          <div class="row no-margin">
            <div class="offset-xl-4 col-xl-6">
              <!-- <h2><span class="wht-spn">WANT TO DO <span class="bus-spn">BUSINESS</span> WITH US?</span></h2> -->
              <h1>WANT TO DO BUSINESS WITH US?</h1>
            </div>
          </div>

          <h3>Let’s Get Started</h3>
          <div class="row no-margin">
            <div class="offset-xl-3 col-xl-6 col-md-12">
              <div class="row no-margin gradient-scn">
                <div class="col-xl-6 col-md-6 grd-divide">
                  <div class="row no-margin  grd-pad ">
                    <div class="col-xl-2 col-md-2 col-2 col-sm-2">
                      <img src="{{request.static_url('cambium_cta:static/img/home/info.png')}}"
                           class="info-img" alt="info"/>
                    </div>
                    <a href="https://www.cambiumnetworks.com/where-to-buy/" target="_blank">
                    <div class="col-xl-8 col-md-8 col-8 col-sm-8 hvr-shrink">
                      <h4>Are you interested in buying
                        Cambium Product?</h4>
                    </div>
                    </a>
                    <div class="col-xl-2 col-md-2 col-2 col-sm-2 hvr-wobble-horizontal">
                      <img src="{{request.static_url('cambium_cta:static/img/home/right-arrow.png')}}"
                           class="rgt-arrow" alt="arrow"/>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-md-6">
                  <div class="row no-margin grd-pad ">
                    <div class="col-xl-2 col-md-2 col-2">
                      <img src="{{request.static_url('cambium_cta:static/img/home/info.png')}}"
                           class="info-img" alt="info"/>
                    </div>
                    <div class="col-xl-8 col-md-8 col-8 hvr-shrink">
                      <h4>Are you interested in
                        Connectedpartner?</h4>
                    </div>
                    <div class="col-xl-2 col-md-2 col-2 hvr-wobble-horizontal">
                      <img src="{{request.static_url('cambium_cta:static/img/home/right-arrow.png')}}"
                           class="rgt-arrow" alt="arrow"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>
<!-- login-section -->
<!-- toast-msg -->
<div class="toast-cont {% if not blocked %} display-none {% endif %}">
  <div class="row no-margin">
    <div class="col-xl-1 col-lg-1">
      <img src="{{request.static_url('cambium_cta:static/img/registraion/info.png')}}"
           class="inf-msg" alt="info"/>
    </div>
    <div class="col-xl-11 col-lg-11">
      <h3 class="text-center">Your account is been validated by our team.<br>
        It will be accessible shortly. For any concerns kindly reach out to
        <strong>@cambiumnetworks.com</strong></h3>
    </div>
  </div>
</div>
<!-- toast-msg -->

<!-- Profile-Modal -->
<div class="profile-modal-mn">
  <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><a href="/profile"><img
                  src="{{request.static_url('cambium_cta:static/img/home/profile.png')}}"
                  class="mdl-img" alt="profile"/>Profile</a></p>
          <p><a href="" data-toggle="modal" data-target="#communication-pref"
                class="communication-tag"><img
                  src="{{request.static_url('cambium_cta:static/img/home/settings.png')}}"
                  class="mdl-img" alt="profile"/>Communication Preference</a>
          </p>
          <p><a href="/logout"><img
                  src="{{request.static_url('cambium_cta:static/img/home/logout.png')}}"
                  class="mdl-img" alt="profile"/>Logout</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="comm-pref">
  <!-- Modal -->
  <div class="modal fade" id="communication-pref" tabindex="-1" role="dialog"
       aria-labelledby="communication-prefModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
        <div class="modal-body">
          <div class="modal-inner">
            <img src="{{request.static_url('cambium_cta:static/img/home/communication-pref.png')}}"
                 class="cm-img" alt="communication preferences"/>
            <h2>COMMUNICATION PREFERENCES</h2>
            <h3>Choose how would you like to
              receive</h3>
            <div class="row no-margin">
              <div class="offset-xl-2 offset-lg-1 col-xl-10 col-lg-10">
                <div class="row no-margin">
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="myCheckbox" type="checkbox" checked>
                      <label for="myCheckbox">SMS</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="myCheckbox2" type="checkbox">
                      <label for="myCheckbox2">Email</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="myCheckbox3" type="checkbox">
                      <label for="myCheckbox3">Telephone</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="myCheckbox4" type="checkbox">
                      <label for="myCheckbox4">Postal Email</label>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offset-xl-3 offset-lg-3 col-xl-6 col-lg-6">
                <button type="submit" id="id_save_preferences" class="btn btn-blue full-width">Save
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content%}
