<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Cambium CTA</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{request.static_url('cambium_cta:static/img/favicon.png')}}" type="image/jpg" sizes="32x32">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/screen.css')}}">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/hover-min.css')}}">
</head>
<body>


{% block content %}
{% endblock content %}

<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/script.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/js/bootstrap.min.js')}}"></script>
</body>
</html>

