<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cambium Total Access</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="icon"
        href="{{request.static_url('cambium_cta:static/img/favicon.png')}}"
        type="image/jpg" sizes="32x32">

  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700"
        rel="stylesheet">

  <link href="{{request.static_url('cambium_cta:static/stylesheets/screen.css')}}"
        rel="stylesheet">

</head>
<body class="no-overflow">
<!-- login-section -->
<section class="login-section">
  <div class="row no-margin">
    <div class="col-xl-7 col-lg-7 col-md-6 pad-zero text-small-center text-tab-center">
      <div class="login-bac-img">
        <div class="row no-margin">
          <div class="col-xl-1 col-lg-1 col-md-12 col-sm-6">
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-6">
            <img src="{{request.static_url('cambium_cta:static/img/login/logo.png')}}"
                 class="logo" alt="logo"/>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
            <h4>Cambium Total Access</h4>
            <h6 class="gate-head">Gateway to all your Cambium applications</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5 col-lg-5 col-md-6 pad-zero">
      <div class="row no-margin">
        <div class="offset-xl-2 offset-lg-2 col-xl-8">
          <h1>Login to your Account</h1>
        </div>
        <div id="login_error_div" class="offset-xl-2 offset-lg-2 col-xl-8"
             {% if login_sucess %} style="display: none;" {% endif %}>
          <div class="warning-msg">
            <h6>The credentials entered by you are incorrect.
              Please enter the correct Username and Password.</h6>
          </div>
        </div>
        <div class="offset-xl-2 offset-lg-2 col-xl-8">
          <form class="form-group" id="id_login_form" action="/" method="post">
            <input type="text" id="id_email" placeholder="Email Address"
                   name="login_email"
                   class="form-control icon-form-control"/>
            <p>
              <img src="{{request.static_url('cambium_cta:static/img/login/email.png')}}"
                   class="em-rgt" alt="email"/></p>
            <input type="password" id="id_pwd" placeholder="Password"
                   name="password"
                   class="form-control icon-form-control"/>
            <p class="text-small-center"><img
                    src="{{request.static_url('cambium_cta:static/img/login/password.png')}}"
                    class="em-rgt" alt="email"/></p>
            <div class="row no-margin forgot-scn">
              <div class="col-xl-6 col-lg-6 col-md-6 pad-zero">
                <a href="/forgot_password">
                  <h5>Forgot Password?</h5>
                </a>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 pad-zero">
                <button type="submit" class="btn btn-blue full-width">Login
                </button>
              </div>
            </div>
          </form>
          <h6 class="text-center">Haven’t registered yet? <a
                  href="/verify_email"><span>REGISTER</span></a></h6>
        </div>
      </div>
    </div>
  </div>

</section>
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/jquery.min.js')}}"></script>
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/bootstrap.min.js')}}"></script>
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/jquery.validate.min.js')}}"></script>
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/login.js')}}"></script>
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/script.js')}}"></script>
</body>
</html>


