<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Password Verify Expire</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="img/favicon.png" type="image/jpg" sizes="32x32">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/screen.css')}}">
<link rel="stylesheet" href="{{request.static_url('cambium_cta:static/stylesheets/hover-min.css')}}">
</head>
<body>
<!-- login-section -->
<section class="home-section forgot-section">
    <div class="row no-margin">
<div class="col-xl-12 col-md-12 nav-main-scn">
  <div class="nav-scn">
    <div class="row no-margin">
      <div class="col-xl-6 col-md-8 col-4 col-sm-8">
      <div class="row no-margin">
        <div class="col-xl-4 col-md-5 col-sm-6">
          <img src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}" class="" alt="logo" />
        </div>

      </div>
      </div>
      <div class="col-xl-6 col-md-4 col-8 col-sm-4">
        <div class="right-prf" >
          <!-- <p>Haven’t registered yet? <a href="">REGISTER</a></p> -->
            </div>

      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 col-md-12">
  <div class="forgot-pass-scn expire-scn">
    <img src="{{request.static_url('cambium_cta:static/img/profile/expire.png')}}" class="forgt-pass-img" alt="logo" />
      <h2>Password Reset Link Expired</h2>
      <h3>Your Password Reset link has been expired. Kindly try resetting your password again</h3>
<div class="row no-margin">
  <div class="offset-md-2 offset-lg-3 offset-xl-4 col-xl-4 col-lg-6 col-md-8">
      <form class="form-group">
          <div class="row no-margin">
            <div class="offset-xl-3 col-xl-6">
                <a href="forgot_password" id="id_pwd_rst" class="btn btn-blue full-width">Reset your Password</a>
            </div>
          </div>
            </form>
  </div>

</div>

    </div>

</div>
    </div>

</section>
<!-- login-section -->
<!-- Profile-Modal -->
<div class="profile-modal-mn">
        <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/stylesheets/img/home/profile.png')}}" class="mdl-img" alt="profile" />Profile</a></p>
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/stylesheets/img/home/settings.png')}}" class="mdl-img" alt="profile" />Communication Preference</a></p>
                 <p> <a href=""><img src="{{request.static_url('cambium_cta:static/stylesheets/img/home/logout.png')}}" class="mdl-img" alt="profile" />Logout</a></p>
                </div>

              </div>
            </div>
          </div>
    </div>


<script type="text/javascript" src="{{request.static_url('cambium_cta:static/stylesheets/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('cambium_cta:static/stylesheets/js/bootstrap.min.js')}}"></script>

</body>
</html>
