{% extends "base_html.jinja2" %}

{% block content %}


<!-- login-section -->
<section class="home-section profile-mn-scn">
  <div class="row no-margin">
    <div class="col-xl-12 col-md-12 nav-main-scn">
      <div class="nav-scn">
        <div class="row no-margin">
          <div class="col-xl-6 col-md-8 col-8 col-sm-6">
            <div class="row no-margin">
              <div class="col-xl-3 col-md-5 col-sm-6">
                <a href="https://www.cambiumnetworks.com/">
                  <img alt="logo" class="logo-nav"
                     src="{{request.static_url('cambium_cta:static/img/registraion/logo.png')}}"/>
                </a>
              </div>
              {% if request.session.peek_flash() %}
              <div class="error-form">
                {% for flash in request.session.pop_flash() %}
                {{ flash }}<br>
                {% endfor %}
              </div>
              {% endif %}
              <div class="col-xl-9 col-md-7 col-sm-6">
                <h3>CTA Profile Page</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-4 col-4 col-sm-6">
            <div class="right-prf">
              <div class="row">
                <div class="col-xl-10 col-md-5 col-6 col-sm-4 small-hidden">
                  <h6><a href="/home/{{token}}">Home</a></h6>
                </div>
                <div class="col-xl-2 col-md-7 col-6 col-sm-8 col-12">
                  <img alt="profile" class="profile-img"
                       src="{{request.static_url('cambium_cta:static/img/home/prf.png')}}"/>
                  <span>      <img alt="arrow"
                                   class="dwn-arrow"
                                   data-target="#profile-modal"
                                   data-toggle="modal"
                                   src="{{request.static_url('cambium_cta:static/img/home/down-arrow.png')}}"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 bac-grey pad-mob-zero">
      <div class="home-mn-scn">
        <div class="container pad-mob-zero">
          <div class="row no-margin">
            <div class="col-xl-5 col-lg-5">
              <div class="left-bar-profile">
                <img alt="profile" class="prof-mask img-responsive"
                     src="{{request.static_url('cambium_cta:static/img/profile/mask.png')}}"/>
                <div class="prof-sel-scn">
                  <img alt="profile" class="prof-img"
                       src="{{request.static_url('cambium_cta:static/img/profile/profile.png')}}"/>
                  <img alt="edit" class="prof-img-edit"
                       src="{{request.static_url('cambium_cta:static/img/profile/edit.png')}}"/>
                </div>
                <h4 data-toggle="modal">
                  {{ request.user.first_name }} {{ request.user.last_name
                  }} </h4>
                <h5>{{ request.user.email }}</h5>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 ">
              <div class="right-prf-bar bac-prf">
                <p data-target="#prf-edit-modal" data-toggle="modal"><img
                        alt="edit" class="edit"
                        src="{{request.static_url('cambium_cta:static/img/profile/edit.png')}}"/>
                </p>
                <h2>Contact Details</h2>
                <div class="row no-margin">
                  <div class="col-xl-6 col-lg-6">
                    <div class="rgt-bar-sub">
                      <h3>ADDRESS</h3>
                      <h4>{{ user_profile.street_address_1 }}<br>
                        {{ user_profile.street_address_2 }}<br>
                        {{ user_profile.town }}<br>{{ user_profile.state.state_name }}<br>
                        {{ user_profile.postal_code }}<br>
                        {% if user_profile.country.name %}
                          {{ user_profile.country.name }}
                        {% endif %}
                    </h4>
                    </div>

                  </div>
                  <div class="col-xl-6 col-lg-6">
                    <div>
                      <h3>CONTACT NUMBER</h3>
                      <h4> 1234</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-prf-bar bac-prf right-prf-bar-mn">
                <h2>Company Information</h2>
                <div class="row no-margin">
                  <div class="col-xl-6 col-lg-6">
                    <div class="rgt-bar-sub">
                      <h3>COMPANY NAME</h3>
                      <h4><strong>{{ user_company.name }}</strong></h4>
                      <h3>CONTACT DETAILS</h3>
                      <h4>{{ user_company.contact_number }}<br>
                        {{ user_company.url }}</h4>
                    </div>

                  </div>
                  <div class="col-xl-6 col-lg-6">
                    <div>
                      <h3>ADDRESS</h3>
                      <!--h4>

                      </h4-->
                    </div>

                  </div>
                </div>
              </div>
              <div class="right-prf-bar bac-prf">
                <h6 data-target="#prf-change-password" data-toggle="modal"><img
                        alt="password" class="lock-img"
                        src="{{request.static_url('cambium_cta:static/img/profile/lock.png')}}"/>Change
                  Password
                  <span><img alt="arrow"
                             class="arrow-img hvr-wobble-horizontal"
                             src="{{request.static_url('cambium_cta:static/img/profile/arrow.png')}}"/></span>
                </h6>
              </div>
              <div class="right-prf-bar bac-prf">
                <h6 data-target="#prf-change-eml" data-toggle="modal"><img
                        alt="password" class="lock-img"
                        src="{{request.static_url('cambium_cta:static/img/login/email.png')}}"/>Change
                  Email Password
                  <span><img alt="arrow"
                             class="arrow-img hvr-wobble-horizontal"
                             src="{{request.static_url('cambium_cta:static/img/profile/arrow.png')}}"/></span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- login-section -->

<!-- Profile-Modal -->
<div class="profile-modal-mn">
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
       id="profile-modal"
       role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div class="modal-body">
          <p><a href=""><img alt="profile" class="mdl-img"
                             src="{{request.static_url('cambium_cta:static/img/home/profile.png')}}"/>Profile</a>
          </p>
          <p><a href="" class="communication-tag"
                data-target="#communication-pref" data-toggle="modal"><img
                  alt="profile" class="mdl-img"
                  src="{{request.static_url('cambium_cta:static/img/profile/settings.png')}}"/>Communication
            Preference</a>
          </p>
          <p><a href="/logout"><img alt="profile" class="mdl-img"
                                    src="{{request.static_url('cambium_cta:static/img/home/logout.png')}}"/>Logout</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Profile-Modal -->
<div class="profile-form-modal">
  <div aria-hidden="true" aria-labelledby="prf-edit-modalLabel"
       class="modal fade" id="prf-edit-modal"
       role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label="Close" class="close" data-dismiss="modal"
                  type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Edit Contact Details</h2>
          <div class="warning-msg">
            <div class="col-xl-8 col-lg-8">
              <h6><span><img alt="attention"
                             src="{{request.static_url('cambium_cta:static/img/login/email.png')}}"/></span>
                <strong>Warning!</strong> As we will be validating your contact
                details,
                Your account might be temporarily unavailable for a short time .
              </h6>
            </div>
          </div>
          <div id="profile_update_error_div" style="display:none;">
            <div class="warning-msg">
              <h6 id="profile_update_div_text">The credentials entered by you
                are incorrect.</h6>
            </div>
          </div>
          <form class="form-group" method="" id="id_profile_update_form">
            <h3>PERSONAL INFORMATION</h3>
            <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value="{{ request.user.first_name }}" type="text"
                       name="firstname" id="id_first_name"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value=" {{ request.user.last_name }}" type="text"
                       name="lastname" id="id_last_name"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value="{{ user_profile.phone_number }}"
                       type="number"
                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                       name="contact_num"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" disabled
                       value="{{ request.user.email }}"
                       type="email"/>
              </div>
            </div>
            <h3>ADDRESS DETAILS</h3>
            <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value=" {{ user_profile.street_address_1 }}"
                       type="text" name="addr_1" id="id_address_1"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value=" {{ user_profile.street_address_2 }}"
                       type="text" name="addr_2" id="id_address_2"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" value="{{ user_profile.town }}"
                       type="text" name="city" id="id_town"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <select class="form-control" id="id_state" name="state">
                  {% if state_list %}
                    {% for each in state_list %}
                    <option value="{{ each[0] }}">
                    {{ each[1] }}
                    </option>
                    {% endfor%}
                  {% endif %}
                </select>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control"
                       value="{{ user_profile.postal_code }}" type="text"
                       name="postal_code" id="id_postal_code"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <select class="form-control" id="id_country" name="country">
                  {% for country in country_list %}
                  <option value="{{ country[0] }}"
                          {% if country[0] == user_profile.country.id%} selected
                          {% endif %}
                  >{{ country[1] }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9"></div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-blue full-width" type="submit">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Profile-Modal -->
<div class="profile-form-modal">
  <div aria-hidden="true" aria-labelledby="prf-change-passwordLabel"
       class="modal fade" id="prf-change-password"
       role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label="Close" class="close" data-dismiss="modal"
                  type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Change Password</h2>
          <div id="password_error_div" style="display:none;">
            <div class="warning-msg">
              <h6 id="password_error_div_text">The credentials entered by you
                are incorrect.</h6>
            </div>
          </div>
          <p class="successr-msg" id="pass_change_success"></p>
          <form class="form-group" method=""
                id="id_change_password_form">
            <h3>ENTER CURRENT PASSWORD</h3>
            <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" placeholder="Current Password*"
                       type="password" name="current_password"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6"></div>
            </div>
            <h3>CREATE NEW PASSWORD</h3>
            <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" placeholder="New Password*"
                       type="password" name="new_password"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" placeholder="Confirm New Password*"
                       type="password" name="confirm_password"/>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9"></div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-blue full-width" id="change_password_btn"
                        type="submit">Update
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<!-- Profile-Modal -->
<div class="profile-form-modal">
  <div aria-hidden="true" aria-labelledby="prf-change-emlLabel"
       class="modal fade" id="prf-change-eml"
       role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label="Close" class="close" data-dismiss="modal"
                  type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Change Email Address</h2>
          <div class="warning-msg">
            <div class="col-xl-8 col-lg-8">
              <h6><span><img alt="attention"
                             src="{{request.static_url('cambium_cta:static/img/profile/attention.png')}}"/></span>
                <strong>Warning!</strong> As we will be validating your contact
                details,
                Your account might be temporarily unavailable for a short time .
              </h6>
            </div>

          </div>
          <form class="form-group">
            <h3>ENTER EMAIL ADDRESS</h3>
            <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" placeholder="New Email Address"
                       type="text"/>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6"></div>
            </div>
            <h3>COMPANY INFORMATION</h3>
            <div class="row no-margin">

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <select class="form-control">
                  <option>Cambium Networks</option>
                  <option>US</option>
                  <option>Newyork</option>
                  <option>Oxford</option>
                </select>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <a class="a-text-highlight" href="">Register Your Company</a>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9"></div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-blue full-width" type="submit">Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="success-modal">
  <div aria-hidden="true" aria-labelledby="successcontactCenterTitle"
       class="modal fade" id="successcontact-modal"
       role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal"
                type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="success-toast">
            <img alt="Success" class="success-tck"
                 src="{{request.static_url('cambium_cta:static/img/home/success.png')}}"/>
            <h4>You have successfully updated contact details</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comm-pref">
  <!-- Modal -->
  <div aria-hidden="true" aria-labelledby="communication-prefModalLabel"
       class="modal fade" id="communication-pref"
       role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal"
                type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="modal-inner">
            <img alt="communication preferences" class="cm-img"
                 src="{{request.static_url('cambium_cta:static/img/home/communication-pref.png')}}"/>
            <h2>COMMUNICATION PREFERENCES</h2>
            <h3>Choose how would you like to
              receive updates.</h3>
            <div class="row no-margin">
              <div class="offset-xl-2 offset-lg-1 col-xl-10 col-lg-10">
                <div class="row no-margin">
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="id_sms_checkbox" type="checkbox" name="sms_profile" value="checked">
                      <label for="id_sms_checkbox">SMS</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="id_email_checkbox" type="checkbox" name="email_profile" value="checked">
                      <label for="id_email_checkbox">Email</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="id_call_checkbox" type="checkbox" name="call_profile" value="checked">
                      <label for="id_call_checkbox">Call</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-lg-6 col-6 ">
                    <div class="chiller_cb">
                      <input id="id_postal_checkbox" type="checkbox" name="postal_profile" value="checked">
                      <label for="id_postal_checkbox">Postal Email</label>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offset-xl-3 offset-lg-3 col-xl-6 col-lg-6">
                <button class="btn btn-blue full-width" id='id_save_preferences' type="submit">Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="profile-modal-mn">-->
  <!--<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog"-->
       <!--aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-body">-->
          <!--<p><a href="/profile"><img-->
                  <!--src="{{request.static_url('cambium_cta:static/img/home/profile.png')}}"-->
                  <!--class="mdl-img" alt="profile"/>Profile</a></p>-->
          <!--<p><a href="" data-toggle="modal" data-target="#communication-pref"-->
                <!--class="communication-tag"><img-->
                  <!--src="{{request.static_url('cambium_cta:static/img/home/settings.png')}}"-->
                  <!--class="mdl-img" alt="profile"/>Communication Preference</a>-->
          <!--</p>-->
          <!--<p><a href="/logout"><img-->
                  <!--src="{{request.static_url('cambium_cta:static/img/home/logout.png')}}"-->
                  <!--class="mdl-img" alt="profile"/>Logout</a></p>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

{% endblock content%}

{% block extra_scripts %}
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/profile.js')}}"></script>
{% endblock extra_scripts %}
