{% extends "base_html.jinja2" %}

{% block content %}
<!-- login-section -->
<section class="login-section login_vrfy">
  <div class="row no-margin">
    <div class="col-xl-7 col-lg-7 col-md-6 pad-zero text-small-center text-tab-center">
      <div class="login-bac-img">
        <div class="row no-margin">
          <div class="col-xl-1 col-lg-1 col-md-12 col-sm-6">
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-6">
            <img src="{{request.static_url('cambium_cta:static/img/login/logo.png')}}"
                 class="logo" alt="logo"/>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
            <h4>Cambium Total Access</h4>
            <h6 class="gate-head text-small-center">Gateway to all your Cambium
              applications</h6>

          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-6 pad-zero verify-email">
      <div class="row no-margin">
        <div class="offset-xl-2 offset-lg-2 col-xl-8">
          <h1>Create a new account</h1>
        </div>
        <div class="offset-xl-2 offset-lg-2 col-xl-8">
          <form class="form-group" id="verify_email_form" href="registration"
                method="POST">
            <h2 class="verify-email">VERIFY YOUR EMAIL ADDRESS</h2>
            <input type="email" name="bus_email" id="id_bus_email"
                   placeholder="Business Email Address"
                   class="form-control icon-form-control{% if is_error %} error-form {% endif %}"/>
            <p class="pos-rel">
              <img src="{{request.static_url('cambium_cta:static/img/login/email.png')}}"
                   class="em-rgt" alt="email"/></p>
            <p class="error-msg" id="id_bus_error">{% if is_error %}Sorry, we do
              not accept public email address. Kindly enter your business email
              address.{% endif %}</p>
            {% if is_success %}<p class="successr-msg" id="id_bus_success">A
            confirmation message has been sent to your email address. Kindly
            follow the link to complete the registration process.</p>{% else %}
            <h6>An verification email will be sent to your email address</h6>{%
            endif %}
            <div class="row no-margin forgot-scn">
              <div class="col-xl-6 col-lg-6 col-md-6 pad-zero">
                <p class="text-small-center"><a href="/" class="back-lg">Back to
                  Login</a></p>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <button type="submit" class="btn btn-blue full-width">Verify my
                  email
                </button>
              </div>
            </div>
            <input type="hidden" id="hdn_api_val"
                   value="{{zerobounce_api_key}}">
          </form>
          <h6 class="text-center bottom-fixed-h6">Don’t have a business
            email?<span data-toggle="modal"
                        data-target="#verify-eml">CONTACT US</span></h6>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Modal -->
<div class="success-modal question-modal verify-eml-mdl">
  <div class="modal fade" id="verify-eml" tabindex="-1" role="dialog"
       aria-labelledby="verify-emlTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
        <div class="modal-body">
          <div class="success-toast">
            <img src="{{request.static_url('cambium_cta:static/img/profile/verify-email.png')}}"
                 class="success-tck" alt="Success"/>
            <h4>Please drop an email to</h4>
            <h4><strong>cta@cambiumnetworks.com</strong></h4>
            <h4>We will get in touch with you</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript"
        src="{{request.static_url('cambium_cta:static/js/verify_email.js')}}"></script>
{% endblock extra_scripts %}
