$browser-context :16;
@function rem($pixels, $context: $browser-context) {
      @return #{$pixels/$context}rem;
}
/*-----------------------------------------------------------------------------------------------*/
// Provide em values of pixels
/*-----------------------------------------------------------------------------------------------*/
@function em($pixels, $context: $browser-context) {
      @return #{$pixels/$context}em;
}
.container-fluid {
      padding: 0;
}
body {
      overflow-x: hidden;
}
.pad-zero {
      padding: 0 !important;
}

.no-margin {
      margin: 0 !important;
}
.full-width {
      width: 100%;
}
.form-control {
background-color: $form-cnt !important;
border-color: $form-cnt !important;
}
.icon-form-control {
  padding-right: rem(35) !important;
}
.em-rgt {
      float: right;
      position: relative;
      bottom: rem(26);
      right: rem(15);
}
.btn-blue {
      background: $btn-blue;
      color: #fff;
      font-family: 'Libre Franklin', sans-serif;
      font-size: rem(15);
      font-weight: 400;
      border-radius: rem(30) !important;
}
.btn-cancel {
  background: $grey-var10;
  color: $grey-var4;
  font-family: 'Libre Franklin', sans-serif;
  font-size: rem(15);
  font-weight: 400;
  border-radius: rem(30) !important;
}
/* width */
::-webkit-scrollbar {
      width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: $grey-var; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: $grey-var; 
  }
  .btn {
      font-family: 'Libre Franklin', sans-serif;
  }

  .span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
      content: "";
      display: inline-block;
      background: $grey-var1;
      width: 0;
      height: 0.2rem;
      position: absolute;
      transform-origin: 0% 0%;
    }
    
    .chiller_cb {
      position: relative;
      height: 2rem;
      // display: grid;
      align-items: center;
    }
    .chiller_cb input {
      display: none;
    }
    .chiller_cb input:checked ~ span {
      background: transparent;
      border-color: $grey-var1;
    }
    .chiller_cb input:checked ~ span:before {
      width: 1rem;
      height: 0.15rem;
      transition: width 0.1s;
      transition-delay: 0.3s;
    }
    .chiller_cb input:checked ~ span:after {
      width: 0.4rem;
      height: 0.15rem;
      transition: width 0.1s;
      transition-delay: 0.2s;
    }
    .chiller_cb input:disabled ~ span {
      background: #ececec;
      border-color: $grey-var1;
    }
    .chiller_cb input:disabled ~ label {
      color: $grey-var1;
    }
    .chiller_cb input:disabled ~ label:hover {
      cursor: default;
    }
    .chiller_cb label {
      padding-left: 2rem;
      position: relative;
      z-index: 2;
      cursor: pointer;
      margin-bottom:0;
      color: $blue;
      font-size: rem(14);
    }
    .chiller_cb span {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border: 2px solid #ccc;
      position: absolute;
      left: 0;
      transition: all 0.2s;
      z-index: 1;
      box-sizing: content-box;
    }
    .chiller_cb span:before {
      transform: rotate(-55deg);
      top: 1rem;
      left: 0.37rem;
    }
    .chiller_cb span:after {
      transform: rotate(35deg);
      bottom: 0.35rem;
      left: 0.2rem;
    }
    .bac-grey {
      background: $grey-var2;
    }

    .radio {
      span {
        font-size: rem(12);
        color: $blue;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 500;
      }
    }
    .radio input[type="radio"] {
      position: absolute;
      opacity: 0;
    }
    .radio input[type="radio"] + .radio-label:before {
      content: '';
      border-radius: 100%;
      border: 1px solid $grey-var9;
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      position: relative;
      top: rem(4);
      margin-right: rem(7);
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }
    .radio input[type="radio"]:checked + .radio-label:before {
      background-color: $blue-varient1;
      box-shadow: inset 0 0 0 4px #f4f4f4;
    }
    .radio input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: $blue-varient1;
    }
    .radio input[type="radio"]:disabled + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: $grey-var9;
      background: $grey-var9;
    }
    .radio input[type="radio"] + .radio-label:empty:before {
      margin-right: 0;
    }
    .modal-content {
      border: none !important;
  }
  // .bac-fade {
  //   opacity: .4;
  // }
  .display-none {
    display: none;
  }
.toast-cont {
  background: $orange;
  padding: rem(20) rem(15) rem(15);
  position: fixed;
  bottom: 0;
  width: 100%;
  img {
width: rem(35);
position: relative;
top: rem(10);
  }
  h3 {
    color: $white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(15);
    font-weight: 400;
    line-height: rem(25);
  }
}
  .back-lg {
    color: $blue;
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(15);
    font-weight: 400;
    text-decoration: underline;
  }
  .text-deco-under {
    text-decoration: underline;
  }
  .a-text-highlight {
    color: $blue;
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(14);
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    top: rem(5);
  }
  .error-form {
border-color: $red-1 !important;
background-color: $orange-light !important;
margin: 0px 0 5px 0 !important;
color: $red-1;
  }
  // .error-form-disable {

  // }
  .error-msg {
    font-family: 'Libre Franklin', sans-serif;
    font-size: rem(14);
    font-weight: 400;
    color: $red-1; 
}
.error {
  font-family: 'Libre Franklin', sans-serif;
  font-size: rem(14);
  font-weight: 400;
  color: $red-1 !important; 
}


.br-rgt-sb {
  border-right: 1px solid $grey-var8;
  margin-bottom: rem(30);
}
.orange-txt {
  color: $orange !important;
}
.successr-msg {
  color: $green !important;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  outline: none;
}
.close:not(:disabled):not(.disabled) {
  cursor: auto !important;
  span{
    cursor: pointer !important; 
  }
}
.b-ch-label {
color: $blue;
font-size: rem(14);
font-weight: 400;
strong {
  cursor: pointer;
}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.text-elips {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pos-rel {
  position: relative;
  .em-rgt {
    position: absolute;
    bottom: rem(11);
  }
}