// -----------------------------------------------------------------------
//
//     Global Classes
//
// -----------------------------------------------------------------------

.inline-block {
      display: inline-block;
      vertical-align: middle;
}

.no-gutter {
      padding: 0 !important;
      margin: 0 !important;
}

.no-padding {
      padding: 0 !important;
}

.relative {
      position: relative;
}

.img-responsive {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
}