// -----------------------------------------------------------------------
//
//     Global Functions
//
// -----------------------------------------------------------------------
/* Pixel to REM */
// @import "../config/config";
/*-----------------------------------------------------------------------------------------------*/
// Provide REM values of pixels
/*-----------------------------------------------------------------------------------------------*/
@function rem($pixels, $context: $browser-context) {
      @return #{$pixels/$context}rem;
}
/*-----------------------------------------------------------------------------------------------*/
// Provide em values of pixels
/*-----------------------------------------------------------------------------------------------*/
@function em($pixels, $context: $browser-context) {
      @return #{$pixels/$context}em;
}
/*-----------------------------------------------------------------------------------------------*/
// Provide px values of pixels
/*-----------------------------------------------------------------------------------------------*/
@function em($pixels) {
      @return #{$pixels}em;
}