/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: 1200px) {
      @content ;
    }
  }
  @else if $point==tablet {
    @media (min-width: 768px) and (max-width: 991px) {
      @content ;
    }
  }
  @else if $point==phablet {
    @media (min-width: 600px) {
      @content ;
    }
  }
  @else if $point==smallmobile {
    @media (min-width:270px) and (max-width: 767px) {
      @content ;
    }
  }
  @else if $point==mobileonly {
    @media (max-width: 480px) {
      @content ;
    }
  }
  @else if $point==belowtablet {
    @media (max-width: 767px) {
      @content ;
    }
  }
  @else if $point==mobileandtablet {
    @media (max-width: 991px) {
      @content ;
    }
  }
  @else if $point==abovetablet {
    @media (min-width: 992px) {
      @content ;

    }
  }
}
