// -----------------------------------------------------------------------
//
//     Global Mixins
//
// -----------------------------------------------------------------------
/*-------------------------------------------------------------------------------------------------
                        Fade text Mixin
-------------------------------------------------------------------------------------------------*/
@mixin text-opacity($value: null) {
      $opacity: 1;
      @if $value {
            $opacity: $value / 10;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p {
            @include opacity($opacity);
      }
}
